body {
  --color-bg-main: #f3f3f3;
  --color-bg-secondary: #f9f9f9;
  --color-bg-menu: #e46855;
  --color-bg-results: #f6f6f6;
  --color-link: #016aba;
  --color-btn: #fff;
  --color-btn-menu: #262626;
  --color-btn-menu-hover: #111;
}

body.dark-theme {
  --color-bg-main: #000;
}
