<nav class="menu">
  <div class="menu__left">
    <LinkTo @route="index" class="menu-index">
      <h1>SuperRentals</h1>
    </LinkTo>
    <div class="links">
      <LinkTo @route="about" class="menu-about">
        About
      </LinkTo>
      <LinkTo @route="contact" class="menu-contact">
        Contact
      </LinkTo>
    </div>
  </div>
  <div class="menu__toggle">
    <ToggleSwitcher @labelOff="Light theme" @labelOn="Dark theme" @onToggle={{fn this.toggleTheme 123}}></ToggleSwitcher>
  </div>
</nav>