<nav class="menu">
  <div class="menu__left">
    <LinkTo @route="index" class="menu-index">
      <h1>SuperRentals</h1>
    </LinkTo>
    <div class="links">
      <LinkToRoute @route="about" @classes="menu-link menu-about">About</LinkToRoute>
      <LinkToRoute @route="contact" @classes="menu-link menu-contact">Contact</LinkToRoute>
      <LinkToRoute @route="gallery" @classes="menu-link menu-gallery">Gallery</LinkToRoute>
    </div>
  </div>
  <div class="menu__toggle">
    <ToggleSwitcher @labelOff="Light theme" @labelOn="Dark theme" @onToggle={{this.toggleTheme}}></ToggleSwitcher>
  </div>
</nav>