<div {{on "click" this.submitToggle}} class="toggle {{if this.toggled "toggle--active"}}">
  <span class="label">{{this.label}}</span>
  <input class="input" type="checkbox" />
  <label class="slider"></label>
</div>