<div {{on "click" (fn this.submitToggle 124)}} class="toggle {{if this.toggled "toggle--active"}}">
<!--  <span class="label">{{this.label}}</span>-->
  <span class="label">{{this.label}}</span>
  <input class="input" type="checkbox" />
  <label class="slider"></label>
</div>