<div class="toggle-switcher {{if this.toggled "toggle-switcher--active"}}" {{on "click" this.submitToggle}}>
  <span class="toggle-switcher__label">{{this.label}}</span>
  <input class="toggle-switcher__input" type="checkbox" />
  <label class="toggle-switcher__slider"></label>
</div>