<div class="toggle {{if this.toggled "toggle--active"}}" {{on "click" this.toggle}}>
  <span class="label">{{ text }}</span>
  <input id="one" class="input" type="checkbox" />
  <label for="one" class="slider"></label>
</div>