<div class="toggle {{if this.toggled "toggle--active"}}" {{on "click" this.submitToggle}}>
  <span class="label">{{this.label}}</span>
  <input class="input" type="checkbox" />
  <label class="toggle__slider"></label>
</div>